.title {
    font-size: 45px;
    text-align: center;
}

.we {
    color: red;
}

.are {
    color: orange;
}

.going {
    color: yellow;
}

.to {
    color: green;
}

.calculate {
    color: blue;
}

.exclamationPoint {
    color: purple;
}

.container {
    width: 90%;
    height: 90%;
    margin: 10% auto;
    padding: 40px 40px;
    outline: solid 1px black;
    display: flex;
    justify-content: center;
}

.labelOne {
    color: red;
}

.labelTwo {
    color: green;
}