.title {
    font-size: 45px;
    text-align: center;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    text-transform: uppercase;
}

.subtitle {
    text-align: center;
}

.we {
    color: red;
}

.are {
    color: orange;
}

.going {
    color: yellow;
}

.to {
    color: green;
}

.calculate {
    color: blue;
}

.exclamationPoint {
    color: purple;
}

.container {
    width: 50%;
    height: 50%;
    margin: 10% auto;
    padding: 40px 40px;
    outline: dashed 3px crimson;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.mainDiv {
    text-align: center;
}

.labelOne {
    color: crimson;
    font-size: 24px;
    font-weight: bold;
}

.labelTwo {
    color: darkslateblue;
    font-size: 24px;
    font-weight: bold;
}

.inputOne {
    width: 15%;
    border-radius: 8px;
    border-color: darkslateblue;
    color: crimson;
}

.inputTwo {
    width: 15%;
    border-radius: 8px;
    border-color: crimson;
    color: darkslateblue;
}

button {
    padding: 14px 40px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid crimson;
    background-color: darkslateblue;
    font-size: 24px;
    color: white;
    text-shadow: -1px -1px 0 crimson, 1px -1px 0 crimson, -1px 1px 0 crimson, 1px 1px 0 crimson;
    letter-spacing: 2px;
}
button:hover {
    background-color: crimson;
    cursor: pointer;
    text-shadow: -1px -1px 0 darkslateblue, 1px -1px 0 darkslateblue, -1px 1px 0 darkslateblue, 1px 1px 0 darkslateblue;
    border: 2px solid darkslateblue;
}